/* Fonts */

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
  src: local("Gilroy"),
       url("../fonts/gilroylight.woff2") format("woff2"),
       url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
  src: local("Gilroy"),
       url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  src: local("Open Sans Light"),
       url("../fonts/opensanslight.woff2") format("woff2"),
       url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: local("Open Sans Light"),
       url("../fonts/opensans.woff2") format("woff2"),
       url("../fonts/opensans.woff") format("woff");
}

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-white: #ffffff;
  --basic-gray-dark: #dcdcdc;
  --basic-gray-light: #e5e5e5;
  --basic-gray-lighter: #ebebeb;
  --basic-gray-darker: #d9d9d9;
  --special-gray: #c4c4c4;
  --special-gray-lighter: #f2f2f2;
  --special-gray-darker: #eaeaea;
  --special-green:  #91c92f;
  --special-pink: #f6dada;
  --special-yellow: #f7e296;
  --special-yellow-dark: #f0c52e;
  --yellow-alpha-30: rgba(240, 197, 46, 0.3);
  --yellow-alpha-50: rgba(240, 197, 46, 0.5);
  --white-alpha-30: rgba(255, 255, 255, 0.3);
  --white-alpha-60: rgba(255, 255, 255, 0.6);
  --black-alpha-20: rgba(0, 0, 0, 0.2);
  --black-alpha-30: rgba(0, 0, 0, 0.3);
  --black-alpha-60: rgba(0, 0, 0, 0.6);
  --gray-alpha-70: rgba(238, 238, 238, 0.7)
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Container */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.page {
  height: 100%;
}

.page-body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-black);
  background-color: transparent;
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.title-md {
  font-size: 18px;
  line-height: 22px;
}

.title-sm {
  font-size: 16px;
  line-height: 20px;
}

.title-spacing-sparse {
  letter-spacing: 0.2em;
}

.title-spacing-average {
  letter-spacing: 0.1em;
}

.title-spacing-dense {
  letter-spacing: 0.05em;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  color: var(--basic-black);
  background-color: transparent;
}

.link:hover {
  opacity: 0.6;
}

.link:active {
  opacity: 0.3;
}

.link-icon {
  position: relative;
  padding-left: 25px;
}

.link-icon:before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center;
}

.link-icon-cart:before {
  background-image: url("../img/icons/icon-cart.svg");
  height: 10px;
}

.link-icon-compare:before {
  background-image: url("../img/icons/icon-chart.svg");
}

.link-icon-login:before {
  background-image: url("../img/icons/icon-user.svg");
}

.button {
  font-family: "Gilroy", "Arial", sans-serif;
  background-color: transparent;
  background-image: linear-gradient(var(--special-yellow-dark), var(--special-yellow-dark));
  background-size: 100% 8px;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--basic-black);
  border: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 9px 24px;
  cursor: pointer;
}

.button:hover {
  background-size: 100% 100%;
  color: var(--basic-black);
}

.button:active {
  background-color: var(--special-yellow-dark);
  color: var(--black-alpha-30);
}

.button-block {
  display: block;
  width: 100%;
}

/* Main Header */

.main-header-inner {
  background-image: linear-gradient(transparent 20px, var(--special-yellow) 20px);
  color: var(--basic-black);
  margin: 20px 0 0;
  padding: 0 60px 30px;
  display: grid;
  grid-template-rows: minmax(45px, min-content) minmax(60px, min-content) min-content;
}

.header-actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.nav-list {
  background-color: var(--special-yellow);
  color: var(--basic-black);
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px 35px;
  grid-auto-flow: column;
}

.nav-list-dropdown {
  display: none;
  position: absolute;
  margin-left: -60px;
  margin-right: -60px;
  padding: 30px 60px 50px;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 2;
}

.link-nav-plus {
  display: inline-flex;
  align-items: center;
  z-index: 2;
}

.link-nav-plus:after {
  content: "";
  width: 16px;
  height: 16px;
  margin-left: 16px;
  background-image: url("../img/icons/icon-plus.svg");
  background-repeat: no-repeat;
}

.link-nav-plus:hover:after {
  opacity: 1;
}

.link-nav-plus:focus {
  outline-offset: 0;
}

.link-nav-plus:hover + .nav-list-dropdown,
.link-nav-plus:focus + .nav-list-dropdown,
.nav-list-dropdown:hover,
.nav-list-dropdown:focus-within {
  display: grid;
}

.nav-list li:nth-child(6) {
  grid-column-start: 3;
}

.header-nav-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  margin: 29px 0 20px;
}

.menu-item {
  margin-right: 40px;
}

.menu-item-long {
  flex-basis: 50%;
  margin-right: 20px;
}

.menu-item-pushed-right {
  margin-left: auto;
}

.menu-item-nav {
  margin-right: 35px;
}

.menu-item-footer-nav {
  margin-right: 33px;
}

.menu-item-margin-sm {
  margin-right: 20px;
}

.menu-item:last-child {
  margin-right: 0;
}

.link-nav {
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: var(--basic-black);
  background: transparent;
}

.link-logout {
  opacity: 0.3;
}

.link-logout:hover {
  opacity: 0.6;
}

.link-logout:active {
  opacity: 0.1;
}

/* Search form */

.search-form {
  height: 50px;
  display: flex;
}

.search-input {
  background-color: transparent;
  color: var(--basic-black);
  vertical-align: center;
  background-image: url("../img/icons/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
  padding: 12px 0 14px 38px;
  height: 50px;
  border: none;
  border-bottom: 2px solid transparent;
  width: 200px;
}

.search-input::-webkit-search-cancel-button {
  appearance: none;
}

.search-input:focus {
  outline: none;
}

.search-input::placeholder {
  color: var(--black-alpha-30);
}

.search-input::placeholder:hover {
  color: var(--black-alpha-60);
}

.search-button {
  font: inherit;
  background-color: transparent;
  color: var(--basic-black);
  border: 2px solid var(--basic-black);
  text-transform: uppercase;
  vertical-align: center;
  padding: 15px 17px;
  display: none;
}

.search-button:hover {
  background-color: var(--basic-black);
  color: var(--white-alpha-60);
}

.search-button:active {
  background-color: var(--basic-black);
  color: var(--white-alpha-30);
}

.search-button:focus {
  outline: none;
}

.search-form:focus-within {
  border-color: var(--basic-black)
}

.search-form:focus-within .search-button {
  display: initial;
}

.search-form:focus-within .search-input {
  border-color: var(--basic-black);
  width: 390px;
}

.search-form:focus-within .search-input::placeholder {
  opacity: 1;
}

/* Main footer */

.main-footer {
  background-color: var(--basic-dark);
  color: var(--basic-white);
  padding: 45px 0 65px;
}

.main-footer-content {
  display: grid;
  grid-template-columns: 333px 1fr max-content;
  grid-template-rows: repeat(3, min-content);
  justify-content: space-between;
  grid-template-areas:
    "logo actions actions"
    "address nav phone"
    ". social academy";
  gap: 35px;
  position: relative;
}

.main-footer-content:after {
  content: "";
  position: absolute;
  left: 20px;
  bottom: 13px;
  width: 80px;
  height: 7px;
  background-color: var(--special-yellow-dark);
}

.footer-logo {
  grid-area: logo;
  margin-top: 19px;
}

.footer-actions {
  grid-area: actions;
  display: flex;
  align-items: start;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.footer-address {
  grid-area: address;
}

.footer-nav {
  grid-area: nav;
  display: flex;
  flex-wrap: wrap;
}

.footer-phone {
  grid-area: phone;
  text-align: right;
}

.footer-social {
  grid-area: social;
}

.social-list {
  display: flex;
  margin: 32px 0 0 144px;
  font-size: 0;
  line-height: 0;
  flex-wrap: wrap;
}

.link-academy {
  grid-area: academy;
  text-align: right;
  margin-left: auto;
  margin-top: auto;
  width: 29px;
  height: 34px;
  font-size: 0;
  line-height: 0;
  background-image: url("../img/logo-academy.svg");
  background-repeat: no-repeat;
}

.link-white {
  color: var(--basic-white);
}

.main-footer .link-academy {
  background-color: transparent;
  color: var(--special-yellow-dark);
}

.footer-address {
  font-style: normal;
}

.footer-phone,
.footer-phone:hover,
.footer-phone:active {
  color: var(--basic-white);
}

.social-link {
  display: block;
  color: var(--basic-white);
  opacity: 0.3;
  width: 32px;
  height: 32px;
  overflow: hidden;
  border-radius: 50%;
  background-repeat: no-repeat;
}

.social-link:hover {
  opacity: 0.6;
}

.social-link:active {
  opacity: 0.1;
}

.social-link-fb {
  background-image: url("../img/icons/icon-social-fb.svg");
}

.social-link-tw {
  background-image: url("../img/icons/icon-social-tw.svg");
}

.social-link-insta {
  background-image: url("../img/icons/icon-social-insta.svg");
}

.current-user-logout {
  margin-left: 16px;
}

.link-white.link-icon-cart:before {
  background-image: url("../img/icons/icon-cart-yellow-dark.svg");
}

.link-white.link-icon-compare:before {
  background-image: url("../img/icons/icon-chart-yellow-dark.svg");
}

.link-white.link-icon-login:before {
  background-image: url("../img/icons/icon-user-yellow-dark.svg");
}

.link-icon-current:before {
  left: -4px;
  top: 5px;
}

/* Popular slider  */

.popular-section {
  position: relative;
  overflow: hidden;
  margin: -30px 0 114px;
}

.popular-section:after {
  content: "";
  position: absolute;
  top: 49px;
  left: 50%;
  width: 100px;
  height: 7px;
  background-color: var(--basic-white);
  z-index: 5;
  margin-left: 20px;
}

.slider-buttons {
  position: absolute;
  right: 89px;
  bottom: 138px;
  font-size: 0;
  line-height: 0;
  z-index: 2;
  margin: 0;
}

.slider-button {
  width: 12px;
  height: 12px;
  padding: 0;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  margin-right: 17px;
}

.slider-button:focus {
  outline: none;
}

.slider-button:last-child {
  margin-right: 0;
}

.slider-button-active:after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  top: 50%;
  left: 50%;
  border: 1px solid var(--basic-black);
  transform: translate(-50%, -50%);
  border-radius: 50%;

}

.popular-list {
  counter-reset: li;
  width: 300%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.popular-slide {
  display: grid;
  grid-template-columns: 50% min-content 1fr;
  grid-template-rows: minmax(250px, min-content) minmax(80px, min-content) 1fr minmax(124px, min-content);
  grid-template-areas:
    "image title title"
    "image description description"
    "image actions ."
    "image features features";
  background-image: linear-gradient(var(--special-yellow), var(--special-yellow) 144px, white 144px);
  position: relative;
  min-height: 506px;
  column-gap: 20px;
}

.slide-image-wrapper {
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 18px 0 0;
}

.slide-image {
  object-fit: contain;
}

.slide-title {
  grid-area: title;
  position: relative;
  margin: 109px 0 25px;
}

.slide-description {
  grid-area: description;
  margin: 0;
}

.slide-action {
  grid-area: actions;
  min-width: 220px;
  padding: 9px 44px;
  text-align: center;
  align-self: end;
}

.features-list {
  grid-area: features;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  align-items: flex-end;
}

.popular-slide:before {
  content: counter(li, decimal-leading-zero);
  counter-increment: li;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  background-color: transparent;
  color: var(--basic-white);
  position: absolute;
  right: 48px;
  top: 0;
  z-index: 0;
}

.slider-button {
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 1px solid var(--basic-black);
}

.feature-item {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  letter-spacing: 0.1em;
  display: flex;
  flex-direction: column-reverse;
  margin: 10px 62px 0 0;
}

.feature-item:last-child {
  margin-right: 0;
}

.feature-title {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  margin-top: 15px;
}

.feature-value {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  margin-left: 0;
}

/* Categories */

.categories-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
  margin: 76px 0;
}

.link-img {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.link-img:active {
  color: var(--black-alpha-30);
}

.link-img:before {
  content: "";
  display: block;
  background-color: var(--special-yellow);
  background-repeat: no-repeat;
  background-position: center center;
  width: 160px;
  height: 160px;
  margin-bottom: 38px;
}

.link-img:hover:before,
.link-img:active:before {
  background-color: var(--special-yellow-dark);
}

.link-img-vr:before {
  background-image: url("../img/popular-1.svg");
}

.link-img-mono:before {
  background-image: url("../img/popular-2.svg");
}

.link-img-action:before {
  background-image: url("../img/popular-3.svg");
}

.link-img-bracelet:before {
  background-image: url("../img/popular-4.svg");
}

.link-img-watch:before {
  background-image: url("../img/popular-5.svg");
}

.link-img-drone:before {
  background-image: url("../img/popular-6.svg");
}

/* Advantages slider */

.advantages-section {
  margin-top: 50px;
  background-image: linear-gradient(transparent 109px, var(--basic-gray-light) 109px);
  padding-bottom: 70px;
}

.advantages-content {
  display: grid;
  grid-template-columns: 284px 1fr;
  gap: 50px;
  padding-top: 9px;
}

.advantages-nav {
  border-right: 7px solid var(--basic-black);
  padding: 80px 0 0;
}

.advantages-nav li {
  margin-bottom: 21px;
  position: relative;
}

.advantages-item {
  padding: 0 260px 0 66px;
  background-position: right 2px top;
  background-repeat: no-repeat;
  min-height: 250px;
  display: none;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.1em;
}

.advantages-item-active {
  display: block;
}

.advantages-item-delivery {
  background-image: url("../img/service-delivery.svg");
}

.advantages-item-warranty {
  background-image: url("../img/service-warranty.svg");
}

.advantages-item-credit {
  background-image: url("../img/service-credit.svg");
}

.advantages-title {
  margin: 71px 0 40px;
}

.advantages-button {
  text-align: center;
  min-width: 160px;
  padding: 9px 20px;
}

.advantages-button span {
  position: relative;
  z-index: 2;
}

.advantages-button:active,
.advantages-button.advantages-button-active {
  background-color: var(--basic-black);
  background-image: none;
  color: var(--special-yellow);
}

.advantages-button:active:after,
.advantages-button.advantages-button-active:after {
  content: "";
  background-color: var(--basic-black);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.advantages-button:focus {
  outline: none;
}

/* Brands */

.brands-section {
  margin: 89px 0 84px;
}

.brands-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.link-brand {
  display: block;
  filter: grayscale(100%) opacity(50%);
}

.link-brand:hover {
  display: block;
  filter: grayscale(0) opacity(100%);
}

/* About us and contacts */

.about-us {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin: 84px 0 78px;
}

.about-section,
.contacts-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
}

.about-section:before,
.contacts-section:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
}

.about-section {
  padding-right: 85px;
}

.about-us-title {
  margin: 57px 0 40px;
}

.about-us p {
  margin: 0 0 40px;
  font-size: 15px;
  line-height: 28px;
}

.about-section {
  grid-template-rows: repeat(3, min-content) 1fr min-content;
}

.contacts-section {
  grid-template-rows: repeat(2, min-content) 1fr min-content;
}

.contacts-map {
  margin-bottom: 71px;
}

.about-button {
  margin-top: auto;
  min-width: 260px;
  text-align: center;
}

.transportation-list {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  margin: 20px 0 30px;
}

.transportation-item {
  position: relative;
  margin-bottom: 15px;
  padding-left: 32px;
}

.transportation-item:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid var(--basic-gray-light);
}

/* Modal */

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: var(--basic-white);
  color: var(--basic-black);
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.15);
  width: 960px;
  padding: 90px 100px 60px;
  z-index: 10;
}

.modal-form {
  top: 120px;
  bottom: auto;
  display: none;
}

.modal-map {
  width: 960px;
  height: 572px;
  display: none;
}

.modal-padding-0 {
  padding: 0;
}

.map-iframe {
  width: 100%;
  border: none;
  object-fit: cover;
}

.close-button {
  background-color: var(--yellow-alpha-50);
  position: absolute;
  top: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  font-size: 0;
  line-height: 0;
  border-color: transparent;
}

.close-button:hover {
  background-color: var(--special-yellow-dark);
}

.close-button:active {
  background-color: var(--yellow-alpha-30);
}

.close-button:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  background-image: url("../img/icons/icon-cross.svg");
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.7;

}

.contact-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 40px;
}

.contact-form-name {
  grid-column: 1 / 2;
  margin: 0;
}

.contact-form-email {
  grid-column: 2 / -1;
  margin: 0;
}

.contact-form-message {
  grid-column: 1 / -1;
  margin: 0;
}

.contact-form-button {
  grid-column: 1 / 2;
  max-width: 200px;
  margin-top: 16px;
}

.label, .control {
  display: block;
}

.label {
  margin-bottom: 9px;
}

.control {
  width: 100%;
}

/* Form */

.control {
  background-color: var(--special-gray-lighter);
  color: var(--basic-dark);
  border: 2px solid transparent;
  padding: 16px 20px 15px 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.control-textarea {
  min-height: 167px;
}

.control::placeholder {
  color: var(--basic-black);
  opacity: 0.4;
}

.control:hover {
  background-color: var(--special-gray-darker);
}

.control:focus,
.control:hover:focus {
  border-color: var(--special-yellow);
  background-color: var(--basic-white);
  outline: 0;
}

.control:hover {
  background-color: var(--special-gray-darker);
}

.control:disabled {
  background-color: var(--special-pink);
}

.label {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Breadcrumbs */

.breadcrumbs {
  font-size: 14px;
  line-height: 19px;
  color: var(--black-alpha-30);
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 50px 60px;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs-item:after {
  content: "";
  position: absolute;
  right: -28px;
  top: 3px;
  width: 14px;
  height: 14px;
  background-image: url("../img/icons/icon-nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-item:last-child:after {
  display: none;
}

.breadcrumbs-link {
  color: var(--basic-black);
  background-color: transparent;
  opacity: 0.3;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.1;
}

/* Catalog */

.catalog {
  background-image:
    linear-gradient(to right, var(--basic-gray-dark) 50%, var(--basic-gray-light) 50%),
    linear-gradient(to right, var(--basic-gray-light), var(--basic-gray-light) 50%, var(--basic-white) 50%);
  background-size:
    100% 70px,
    auto auto;
  background-repeat:
    no-repeat,
    no-repeat;
}

.catalog-inner {
  display: grid;
  padding: 0;
  background-color: var(--basic-white);
  grid-template-columns: 349px 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas:
    "filters sorting"
    "filters products"
    "filters pagination";
}

.catalog-page-title {
  margin: 45px 0 30px 60px;
}

.products-section {
  grid-area: products;
  margin: 70px 20px 0 72px;
}

/* Filters */

.filters-section {
  font-size: 14px;
  line-height: 19px;
  grid-area: filters;
  background-color: var(--basic-gray-light);
}

.filters-title {
  min-height: 70px;
  text-transform: uppercase;
  margin: 0;
  padding: 25px 80px;
  background-color: var(--basic-gray-dark);
}

.filters-form {
  padding: 69px 68px 30px 80px;
}

.filters-fieldset {
  margin: 0 0 39px;
  border: none;
  padding: 0;
}

.filters-legend {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: var(--basic-black);
  background-color: transparent;
  padding-top: 14px;
  border-top: 2px solid var(--basic-black);
  margin-bottom: 30px;
  display: block;
  width: 100%;
}

.filters-list {
  margin-top: 2px;
  margin-bottom: 1px;
}

.checkbox-item {
  margin-bottom: 20px;
  padding-left: 42px;
}

.radio-item {
  margin-bottom: 21px;
  padding-left: 40px;
}

.checkbox-item:last-child,
.radio-item:last-child {
  margin-bottom: 0;
}

.filter-label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  color: var(--basic-black);
}

.filter-checkbox-label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -2px;
  width: 24px;
  height: 24px;
  border: 2px solid var(--basic-black);
  border-radius: 2px;
}

.filter-checkbox-label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 21px;
  height: 21px;
  background-image: url("../img/icons/icon-check.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  display: none;
}

.filter-checkbox:checked + .filter-checkbox-label::after {
  display: block;
}

.filter-radio-label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: -2px;
  width: 24px;
  height: 24px;
  border: 2px solid var(--basic-black);
  border-radius: 50%;
  margin-right: 1px;
}

.filter-radio-label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -32px;
  width: 8px;
  height: 8px;
  background-color: var(--basic-black);
  border-radius: 50%;
  display: none;
}

.filter-radio:checked + .filter-radio-label::after {
  display: block;
}

.filter-label:hover:before,
.filter-label:hover:after {
  opacity: 0.6;
}

.filter-checkbox-label:active,
.filter-radio-label:active {
  opacity: 1;
}

.filter-control + .filter-label:active:before,
.filter-control + .filter-label:active:after {
  opacity: 0.25;
}

.filter-control:checked + .filter-label:active:before,
.filter-control:checked + .filter-label:active:after {
  opacity: 1;
}

.filter-control:disabled + .filter-label {
  opacity: 0.25;
  pointer-events: none;
}

.filters-button {
  margin-top: 43px;
  padding: 9px 24px 9px 17px;
}

/* Range */

.range-filter {
  width: 100%;
}

.range-controls {
  position: relative;
  height: 43px;
  padding-top: 9px;
}

.range-scale {
  height: 2px;
  background: var(--black-alpha-20);
}

.range-bar {
  width: 50%;
  height: 2px;
  background: var(--special-green);
}

.range-handle {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: var(--basic-white);
  border-radius: 50%;
  box-shadow: 0 2px 2px var(--black-alpha-20);
  cursor: pointer;
}

.range-handle:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 4px;
  background-color: var(--special-gray);
  border-radius: 50%;
}

.range-handle-min {
  left: 0;
}

.range-handle-max {
  left: 50%;
}

.range-value {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  white-space: nowrap;
  margin: 8px 0 0;
}

.range-value-min {
  padding-left: 7px;
}

.range-value-max {
  padding-right: 1px;
}

/* Sorting */

.sorting-section {
  grid-area: sorting;
  background-color: var(--basic-gray-light);
  padding: 0 20px 0 72px;
  display: flex;
  align-items: center;
}

.sorting-link {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: transparent;
  opacity: 0.3;
  margin: 0 0 1px 31px;
}

.sorting-link:hover {
  opacity: 0.6;
}

.sorting-link-up,
.sorting-link-down {
  display: block;
  width: 18px;
  height: 18px;
  background-image: url("../img/icons/icon-triangle.svg");
  background-repeat: no-repeat;
  font-size: 0;
  line-height: 0;
  opacity: 0.2;
}

.sorting-link-up:hover,
.sorting-link-down:hover {
  opacity: 0.4;
}

.sorting-link-up {
  margin-left: auto;
}

.sorting-link-down {
  margin-left: 16px;
  transform: rotate(180deg);
}

.sorting-link:active,
.sorting-link-active {
  opacity: 1;
}

.sorting-title {
  text-transform: uppercase;
  margin: 0 42px 0 0;
}

/* Products */

.products-list {
  display: grid;
  grid-template-areas: "item item";
  grid-auto-columns: 360px;
  justify-content: space-between;
  gap: 47px 40px;
}

.product-item {
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
  background-color: transparent;
  position: relative;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: 1fr max-content;
  grid-template-areas:
    "image image"
    "title price";
  gap: 30px 10px;
}

.product-item-new:before {
  content: "new";
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  opacity: 0.3;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 29px;
  right: 27px;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  z-index: 5;
  border: 2px solid var(--basic-black);
  color: var(--basic-black);
}

.product-image {
  grid-area: image;
  z-index: 1;
}

.product-title {
  grid-area: title;
  align-self: baseline;
  margin: 0;
}

.product-title b {
  white-space: nowrap;
}

.product-price {
  grid-area: price;
  align-self: baseline;
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.add-product-link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: var(--basic-black);
  background-color: transparent;
  border: none;
  opacity: 0.5;
  margin-top: 13px;
}

.add-product-link:hover {
  opacity: 1;
}

.add-product-link:active {
  opacity: 0.2;
}

.cart-button {
  min-width: 200px;
  margin-top: 29px;
}

.product-back {
  grid-area: image;
  z-index: 2;
  margin: 0;
  background-color: var(--gray-alpha-70);
  display: none;
}

.product-item:hover .product-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Pagination */

.pagination {
  grid-area: pagination;
  margin: 40px 20px 77px 72px;
  background-color: var(--special-gray-lighter);
  display: flex;
  align-items: center;
}

.pagination-item {
  margin-left: 30px;
  margin-bottom: 1px;
}

.pagination-item:nth-child(2) {
  margin-left: 10px;
}

.pagination-item:first-child {
  margin-left: 0;
  margin-right: auto;
}

.pagination-item:last-child {
  margin-left: auto;
}

.pagination-link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--black-alpha-30);
}

.pagination-link:hover {
  color: var(--black-alpha-60);
}

.pagination-link:active,
.pagination-link-active {
  color: var(--basic-black);
}

.pagination-previous,
.pagination-next {
  background-color: transparent;
  color: var(--basic-black);
  display: block;
  padding: 25px 30px;
}

.pagination-previous:hover,
.pagination-next:hover {
  background-color: var(--basic-gray-darker);
  color: var(--basic-black);
}

.pagination-previous:active,
.pagination-next:active {
  background-color: var(--basic-gray-darker);
  color: var(--black-alpha-30);
}

